@page
@using SurveyWeb.DTO;
@model SurveyWeb.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit a Survey</h1>

<h4>Or create a new one, if original was answered</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
    <div>
        <input type="hidden" asp-for="hasAnswers" />
        <input type="hidden" asp-for="SurvId" />
        <label asp-for="Survey.Title"></label>
        <input asp-for="Survey.Title" />
    </div>
    <div>
        <label asp-for="Survey.Description"></label>
        <input asp-for="Survey.Description" />
    </div>
    <div>
        <select id="surveyType" asp-for="Survey.Status">
            <option value="1">Public</option>
            <option value="2">Private</option>
            <option value="3">Domain</option>
        </select>
    </div>
    <div>
        Required Domain, format "@@example.com" ("Domain" type surveys only):
        <input asp-for="Survey.DomainReq" />
        <span asp-validation-for="Survey.DomainReq" class="text-danger"></span>
    </div>
    <div>
        @for(int i = 0; i < Model.questions.Count(); i++)
        {
            <hr />
            <input asp-for="@Model.questions[i].Text">
            @Html.HiddenFor(model => Model.questions[i].QuestionType)
            @switch (Model.questions[i])
            {
                case TextFieldQDTO tf:
                    <div>TextFieldQuestion</div>
                    break;
                case MultipleChoiceQDTO mc:
                    <div>MultipleChoiceQuestion</div>

                    @for (int ii = 0; ii < Model.questions[i].Options.Count; ii++)
                    {
                        <div><input asp-for="(@Model.questions[i].Options[ii])"></div>
                    }
                    break;
                case LikertScaleQDTO ls:
                    <div>Likert Scale Question</div>
                    break;
                case RankingQDTO rk:
                    @for (int ii = 0; ii < Model.questions[i].Options.Count; ii++)
                    {
                        <div><input asp-for="(@Model.questions[i].Options[ii])"></div>
                    }
                    break;

            }
        }
    </div>
    <hr />
    <input type="submit" />
        </form>
    </div>
    </div>



<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
